
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: #151515;
    color: white;
    font-family: "Montserrat";
}

#skills {
    margin-bottom: 100px;
}


/* navbar */
#home {
    margin-bottom: 40px;
}

#home h2 {
    font-weight: 700;
    border-bottom: 2px groove yellow;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #555555;
    transition: 0.2s;
}



#home li a {
    color: #fff;
    font-weight: 800;
    font-size: 1.4em;
    letter-spacing: 0.04rem;
    border-bottom: 2px solid yellow;
    text-decoration: none;
    text-transform: uppercase;

}

#home li a:hover {
    color: #555555;
    transition: 0.2s;
}


/* sobre-mim */

#sobre p {
    font-size: 1.1rem;
    letter-spacing: 0.03em;
}

#sobre .container {
    background: #101111;
    border-radius: 20px;
    margin-top: 50px;
  

}

#skills h1 {
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 3px solid yellow;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.04rem;
}


/* cards */

.card h2 {
    color: #101010;
    font-weight: 750;
    text-transform:capitalize
}


#html-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#html-card::after {
    content: '';
    height: 0;
    transition: height 0.2s ease-in-out;
    color: #101010;
}

#html-card:hover::after {
    height: 20px;
    content: 'Intermediário';
    font-weight: 800;
    margin: auto;
}


#css-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#css-card::after {
    content: '';
    height: 0;
    transition: height 0.2s ease-in-out;
    color: #101010;

}

#css-card:hover::after {
    height: 20px;
    content: 'Intermediário';
    font-weight: 800;
    margin: auto;
}

#js-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#js-card::after {
    content: '';
    color: #101010;
    height: 0;
    transition: height 0.2s ease-in-out;
}

#js-card:hover::after {
    height: 20px;
    content: 'Intermediário';
    font-weight: 800;
    margin: auto;
}

#php-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#php-card::after {
    content: '';
    color: #101010;
    height: 0;
    transition: height 0.2s ease-in-out;
}

#php-card:hover::after {
    height: 20px;
    content: 'Intermediário';
    font-weight: 800;
    margin: auto;
}

#bootstrap-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#bootstrap-card::after {
    content: '';
    color: #101010;
    height: 0;
    transition: height 0.2s ease-in-out;
}

#bootstrap-card:hover::after {
    height: 20px;
    content: 'Intermediário';
    font-weight: 800;
    margin: auto;
}


#cu-card::after {
    content: '';
    height: 0;
    transition: height 0.2s ease-in-out;
    color: #101010;

}

#cu-card:hover::after {
    height: 20px;
    content: 'Básico';
    font-weight: 800;
    margin: auto;

}


#projetos h1 {
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 3px solid yellow;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.04rem;
}

/* sessao projetos */


#projetos .card {
    transition: 0.2s;
    box-shadow: 10px 10px 20px #282828;
}

#projetos .card:hover {
    transform: scale(1.1);
}






.card:hover{
    text-decoration: none;
}


.card a h2{
    color: #101010;
    font-weight: 750;
    text-transform: capitalize;
    text-decoration: none;
}


#projetos a:link a:visited{
    color: #101010;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}




span {
    display: block;
    color: yellow;
    border-bottom: 1px solid yellow;
}



/* media */

@media (min-width: 1px) and (max-width: 575.98px) {

    #sobre .container {
        border: none;
    }

    #sobre img {
        margin-left: 70px;
        width: 200px;
    }

    #sobre p {
        font-size: 14px;
        text-align: justify;

    }

    footer h3 {
        font-size: 15px;
    }

    footer p {
        margin-top: 10px;
    }

}

::-webkit-scrollbar{
    width: 6px;
    background: #151515;
}


::-webkit-scrollbar-thumb{
    border-left: 1px solid yellow;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    background-color: #101010;
}

.animar{
 opacity: 0;
 transform: translateX(-200px);
  transition: opacity 0.8s, transform 0.8s;
}

.animar.is-visible{
    opacity: 1;
    transform: translateX(0);
}