/* configurações layout */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: #151515;
    color: white;
    font-family: "Montserrat";
}

body,
#apresentacao {
    height: 90dvh;
    
    
}

/* efeito animado */
.frase-animada::after{
    content: '|';
    color: yellow;
    opacity: 0;
    animation: 0.6s anime ease-in-out infinite;
  

}

@keyframes anime{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* navbar */
#home {
    margin-bottom: 40px;
}

#home h2  {
    font-weight: 700;
    border-bottom: 2px groove yellow;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

a:link, a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #555555;
    transition: 0.2s;
}



#home li a {
    color: #fff;
    font-weight: 800;
    font-size: 1.4em;
    letter-spacing: 0.04rem;
    border-bottom: 2px solid yellow;
    text-decoration: none;
    text-transform: uppercase;

}

#home li a:hover {
    color: #555555;
    transition: 0.2s;
}

/* section principal */

.container {
    text-align: center;
}

#apresentacao {

    display: flex;
    align-items: center;
}

p, span{
    font-size: 2.3rem;
    font-weight: 700;

}
span {
    display: block;
    color: yellow;
    border-bottom: 1px solid yellow;
}

small{
    font-size: 1.1rem;
    font-weight: 400;
}

/* media */

@media (max-width: 575.98px){

    header a{
        font-size: 25px;
    }


   img {
    width: 300px;
   }

   p{
    font-size: 24px;
   }

   span{
    font-size: 24px;
   }
   
}

@media (min-width: 575.98px){


    p{
        font-size: 30px;
    }

    img {
    width: 400px;
     
    }
}


/* @media (max-width:991.98px){

    p{
        font-size: 30px;
    }

    img {
    width: 400px;
     
    }

} */


.animar{
    opacity: 0;
    transform: translateX(-200px);
     transition: opacity 0.8s, transform 0.8s;
   }
   
   .animar.is-visible{
       opacity: 1;
       transform: translateX(0);
   }
